    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Porfolio</h1>
        <p>This is examples of our previous work. Like what you see?</p>
        <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn btn-primary btn-large' %></p>
      </div>

      <%= render 'sidebar' %>

      <hr>
    </div> <!-- /container -->
