    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <div class="container">

      <div class="hero-unit">
        <h1>Porfolio</h1>
        <p>This is examples of our previous work. Like what you see?</p>
        <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn btn-primary btn-large' %></p>
      </div>

      <div class="row">
        <div class="span8">
          <h2>In House</h2>
          <div class="featurette">
            <a href='http://audiofile.cc/'><h3>Audiofile.js</h3></a>
            <a href='http://audiofile.cc/'><img class="featurette-image" src="/assets/audiofile_Screenshot.png"></a>
          </div>
          <hr>
          <div class="featurette">
            <a href='http://audiofile.cc/boombox'><h3>Boombox.js</h3></a>
            <a href='http://audiofile.cc/boombox'><img class="featurette-image" src="/assets/boombox_screenshot.png"></a>
          </div>
          <hr>
          <div class="featurette">
            <a href='http://audiofile-genetics-lab.herokuapp.com/'><h3>AudioFile Genetics Lab</h3></a>
            <a href='http://audiofile-genetics-lab.herokuapp.com/'><img class="featurette-image" src="/assets/genetics_screenshot.png"></a>
          </div>
          <hr>
          <div class="featurette">
            <a href='http://cents-us-dollars-them.herokuapp.com/'><h3>Cents us dollars them</h3></a>
            <a href='http://cents-us-dollars-them.herokuapp.com/'><img class="featurette-image" src="/assets/cents_screenshot.png"></a>
          </div>
          <hr>
          <h2>At Trulia</h2>
          <div class="featurette">
            <a href='http://m.trulia.com/'><h3>Trulia Mobile</h3></a>
            <a href='http://m.trulia.com/'><img class="featurette-image" src="/assets/m_trulia_screenshot.png"></a>
          </div>
          <hr>
          <div class="featurette">
            <a
              href='http://apps.microsoft.com/windows/en-us/app/trulia-real-estate-homes-for/aaa2a256-90ca-4abd-938f-3788f598a235'><h3>Trulia for Windows 8</h3></a>
            <a href='http://apps.microsoft.com/windows/en-us/app/trulia-real-estate-homes-for/aaa2a256-90ca-4abd-938f-3788f598a235'><img class="featurette-image" src="/assets/trulia_windows_8_screenshot.jpg"></a>
          </div>
          <hr>
          <h2>With Brooktown Designs</h2>
          <div class="featurette">
            <a href='http://www.hmarkovitzdc.com/'><h3>Harvey Markovitz DC</h3></a>
            <a href='http://www.hmarkovitzdc.com/'><img class="featurette-image" src="/assets/harvey_screenshot.png"></a>
          </div>
          <hr>
          <div class="featurette">
            <a href='http://lauralindsayrosalba.com/'><h3>Laura Lindsey Rosalba</h3></a>
            <a href='http://lauralindsayrosalba.com/'><img class="featurette-image" src="/assets/laura_screenshot.png"></a>
          </div>
          <hr>
          <ul>
            <li><a href=""></a></li>
          </ul>
          <hr class="featurette-divider">
        </div>

        <%= render 'sidebar' %>
      </div>

      <hr>
    </div> <!-- /container -->
