    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Stub Quote page</h1>
        <p>Cardona Designs is a channel for the realization of great ideas.</p>
        <p><a href="#" class="btn btn-primary btn-large">Contact Us &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Design</h2>
          <p>We think of Design as a first class citizen that works hand in hand
          with Engineering to create the ultimate user experience.</p>
          <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn' %></p>
        </div>
        <div class="span4">
          <h2>Commerce</h2>
          <p>Wanna sell something? We can set up a fully featured online store
          which accepts credit cards and is connected with your bank account for
          fast, easy, and secure transactions.</p>
          <p><%= link_to 'Learn More', '/welcome/quote', :class => 'btn' %></p>
       </div>
        <div class="span4">
          <h2>Expression</h2>
          <p>The web offers a place to connect with your tribe. We can help you
          find the right medium for your voice and story.</p>
          <p><%= link_to 'Reach Out', '/welcome/quote', :class => 'btn' %></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->
