    <%= stylesheet_link_tag 'site_extras', :media => 'all' %>
    <div class="container">

      <div class="hero-unit">
        <h1>Quote</h1>
        <p>Have an idea for a project? Drop us a line and we'll let you know how
        we can help.</p>
      </div>

      <div class="row">
        <div class="span12">
          <h2>Cardona Designs</h2>
          <p>Phone: 831-325-7406</a>
          <p>Email: cgcardona(at)gmail.com</p>
        </div>
      </div>

    </div> <!-- /container -->
