    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>We Do Design</h1>
        <p>Cardona Designs is a channel for the realization of great ideas.</p>
        <p><%= link_to 'Contact Us', '/welcome/quote', :class => 'btn btn-primary btn-large' %></p>
      </div>

      <%= render 'sidebar' %>

      <hr>
    </div> <!-- /container -->
